<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Avon WEB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleRight.css') }}">
</head>

<body>
    <section class="container">
        <div class="login-info">
            <svg width="150" height="150">
                <path id="check" d="M10,90,  55,120,  125,30" />
            </svg>
            <p>Login Successful</p>
        </div>
    </section>

    <script src="{{ url_for('static', filename='scriptLoading.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
